/* *************  DIARY ********************* */

/* Настройки всей страницы */

body {
  /* Убираем стандартные отступы браузера */
  margin: 0;
  /* Шрифт по умолчанию */
  font-family: Arial, sans-serif;

  /* Песочный фон всего приложения */
  background-color: #f5efe2;
}

/* Главный контейнер приложения */

.app {
  /* Отступ от краёв окна */

  padding: 20px;
}

/* Контейнер дневника:    слева список записей, справа редактор */

.diary-layout {
  /* Расположить блоки рядом друг с другом */

  display: flex;

  /* Расстояние между левым и правым блоком */
  gap: 20px;

  /* Отступ сверху */
  margin-top: 20px;
}

/* Левая панель со списком записей */

.entries-panel {
  /* Фиксированная ширина панели */
  width: 350px;
  min-width: 350px;
}

.entry-list {
  list-style: none;

  /* Более тёмный песочный цвет */

  background: #e8dcc0;
  /* Внутренние отступы */

  padding: 10px;
  /* Скруглённые углы */

  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  height: calc(100vh - 150px);
  overflow-y: auto;
}

/* Одна запись в списке */

.entry-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  margin-bottom: 10px;
  background: #f7f1e3;
  border-radius: 8px;
  cursor: pointer;

  /* Плавная анимация */

  transition: all 0.2s ease;
}

/* Эффект наведения мышью */

.entry-item:hover {
  /* Карточка становится светлее */

  background: #fff7e6;

  /* Немного сдвигается вправо */
  transform: translateX(3px);
}

.entry-selected {
  /* Выделенная запись */
  /*background: #f0e1c6;*/
  background: #d9c28c;

  font-weight: bold;
}

/* Правая панель редактора */

.editor {
  /* Занимает всё оставшееся место */

  flex: 1;
  /* 010826 begin */

  min-width: 0;
  /* 010826 end */
}

/* Большое поле для текста дневника */
.editor-toolbar {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  min-width: 130;
}
.editor-bar button {
  width: 150px;
  margin: 0;
}
.diary-editor {
  width: 100%;
  height: calc(100vh - 130px);
  padding: 15px;
  /*border: 3px solid blue;*/

  /* Убираем стандартную рамку */

  border: none;
  border-radius: 12px;
  background: #fffdf7;

  /* Тень вокруг блока */

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);

  /* Разрешаем менять высоту мышью */

  resize: vertical;

  /* Размер текста */

  font-size: 16px;

  /* Межстрочный интервал */

  line-height: 1.5;
  /* 010826 begin */
  width: 100%;
  box-sizing: border-box;
  /* 010826 end */
}

/* Все кнопки приложения */

button {
  /* Внешний отступ */

  margin: 5px;

  /* Внутренний отступ */

  padding: 8px 15px;

  /* Убираем рамку */

  border: none;

  /* Скругляем углы */

  border-radius: 8px;

  /* Цвет кнопки */

  background: #b68d40;

  /* Цвет текста */

  color: white;

  /* Курсор в виде руки */

  cursor: pointer;

  /* Плавное изменение цвета */
  transition: 0.2s;
}

/* Эффект наведения на кнопку */

button:hover {
  /* Более тёмный оттенок */

  background: #8d6e2f;
}

/* Панель авторизации */

.auth-panel {
  /* Отступ снизу */

  /* margin-bottom: 20px;*/
  width: 450px;

  margin: 30px auto;

  padding: 30px;

  background: transparent;

  border-radius: 16px;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

/* Поля Email и Пароль */

.auth-panel input {
  /* margin-right: 10px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;*/
  width: 100%;

  height: 50px;

  margin-bottom: 15px;

  padding: 0 15px;

  border: none;

  border-radius: 12px;

  background: #fffdf7;

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);

  box-sizing: border-box;
}

.auth-title {
  text-align: center;
  font-size: 16px;
  font-style: italic;
  color: #8b6f3d;
  font-weight: normal;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window {
  background: #f7f1e3;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  text-align: center;
  min-width: 320px;
}

/* Поле названия записи */

.entry-title-input {
  /* width: 100%;*/
  flex: 1;
  min-width: 0;
  height: 50px;
  margin-bottom: 15px;
  padding: 0 15px;
  border: none;
  border-radius: 12px;
  background: #fffdf7;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  /* font-weight: bold; */
  box-sizing: border-box;
  color: #666;
  font-family: inherit;
}

/* При получении фокуса */
.entry-title-input:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(182, 141, 64, 0.5);
}
.entry-date {
  font-size: 12px;
  color: #666;
  margin-bottom: 5px;
}

.entry-title {
  font-size: 16px;
  font-weight: bold;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.entry-delete {
  padding: 3px 8px;
  margin: 0;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  background: transparent;
  color: #a00;
}

.entry-delete:hover {
  transform: scale(1.2);
  background: #ffdddd;
}

.entry-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  margin-bottom: 6px;
  background: #f7f1e3;
  border-radius: 8px;
  cursor: pointer;
}
.entry-category {
  /* width: 100%;*/
  width: 180px;
  flex-shrink: 0; /* Чтобы не сжималось при маленькой ширине */

  height: 50px;
  margin-bottom: 15px;
  padding: 0 15px;
  border: none;
  border-radius: 12px;
  background: #fffdf7;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  box-sizing: border-box;
  font-family: inherit;
  color: #666;
}

.entry-category:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(182, 141, 64, 0.5);
}
.editor-header {
  display: flex;
  gap: 10px;
  /* margin-bottom: 15px; */
  width: 100%;
}

.entry-title-input {
  flex: 1;
  font-size: 16px;
  font-family: inherit;
}

.entry-category {
  width: 180px;
}
.entry-selected {
  outline: 2px solid #8b6f3d;
}

/* ========================= Панель категорий========================= */
.category-input {
  width: 100%;

  padding: 10px;

  margin-bottom: 15px;

  border: none;

  border-radius: 10px;
}

.color-picker-row {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 15px;
}

.category-list {
  margin-top: 15px;

  max-height: 250px;

  overflow-y: auto;
}

.category-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  margin-bottom: 8px;
  background: #fffdf7;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.category-color {
  width: 18px;

  height: 18px;

  border-radius: 4px;
  display: inline-block;
}

.category-actions {
  display: flex;

  gap: 6px;
}

.icon-btn {
  border: none;

  background: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
}

.icon-btn:hover {
  transform: scale(1.15);
}
/*========================= Панель категорий========================= */
.search-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.filter-category {
  width: 140px;
  min-width: 140px;
  height: 50px;
  margin-bottom: 10px;

  padding: 15px;

  border: none;

  border-radius: 12px;

  background: #fffdf7;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  box-sizing: border-box;
  font-family: inherit;
  color: #666;
}

/* ========================= Панель поиска========================= */
.search-input {
  flex: 1;
  height: 50px;
  margin-bottom: 10px;

  padding: 15px;

  border: none;

  border-radius: 12px;

  background: #fffdf7;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  box-sizing: border-box;
  font-family: inherit;
  color: #666;
  min-width: 0;
}

entries-panel {
  width: 350px;
  min-width: 350px;
  list-style: none;

  background: #e8dcc0;

  padding: 10px;
}

.logo {
  height: 100px;
  display: block;
  margin: 0 auto 5px auto;
}

/*================== MOBILE ==================*/
@media (max-width: 768px) {
  .entry-list {
    height: auto;
  }
  .diary-layout {
    flex-direction: column;
  }

  .entries-panel {
    width: 100%;
    min-width: 0;
  }
  .entry-list {
    height: 170px;
    overflow-y: auto;
  }

  .editor {
    width: 100%;
  }

  .editor-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .entry-title-input {
    width: 100%;
    flex: none;
  }

  .entry-category {
    width: 100%;
  }
  .logo {
    width: 280px;
    height: auto;
  }
  .auth-panel {
    width: 90%;
    padding: 20px;
  }
}
